body {
  background: #0099CC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 97vh;
  width: 98vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightblue;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width:52vw;
  background: white;
  border: black 2px solid;
  padding: 3px;
}
.square {
  border: black 2px solid;
  width: 10vw;
  height: 18vh;
}
.gray {
  background-color: gray;
}
